.materia{
    background-color: #FFF;
    position: relative;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 3%;
    margin-top: 5px;
    left: 10%;
    width: 80%;
    height: 40px;
    text-align: center;
}

/* .materia:hover{
    background-color: rgb(169, 189, 197);
} */

.materia[title=""]{
    display: none;
}

.painted{
    background-color: #F7DC6F;
}


.self{
    background-color: #F7DC6F;
}